<div class="menu font-weight-bold border border-white d-flex justify-content-center align-items-center amplitude">
  Amplitude
</div>
<div class="blocks">
  <div class="block-1 h-25 border border-white">
    <div class="h-25 font-weight-bold d-flex justify-content-center align-items-center">
      Nível de Referência
    </div>
    <div class="h-75 d-flex justify-content-center align-items-center  px-5">
      <!-- <input type="text" class="form-control amplitude-input" id="refLevel" value="0.00 dB"> -->
      <div class="input-group mb-3">
        <input type="text" class="form-control amplitude-input" value="0.00"  id="refLevel" number>
        <div class="input-group-append">
          <span class="input-group-text">dB</span>
        </div>
      </div>
    </div>
  </div>
  <div class="block-2 h-25 border border-white">
    <div class="h-25 font-weight-bold d-flex justify-content-center align-items-center">
      Vertical
    </div>
    <div class="h-25 d-flex justify-content-center align-items-center px-5">
      <div class="input-group mb-3">
        <input type="text" class="form-control amplitude-input" value="0.00"  id="verticalDb" number>
        <div class="input-group-append">
          <span class="input-group-text">dB</span>
        </div>
      </div>
      <!-- <input type="text" class="form-control amplitude-input" id="verticaldb" value="0.00 dB"> -->
    </div>
    <div class="h-50 d-flex justify-content-center align-items-center px-5">
      <div class="input-group mb-3">
        <input type="text" class="form-control amplitude-input" value="10.0"  id="verticalDbm" number>
        <div class="input-group-append">
          <span class="input-group-text">dBm</span>
        </div>
      </div>
      <!-- <input type="text" class="form-control amplitude-input" id="verticaldbm" value="10.0 dbm"> -->
    </div>
  </div>
  <div class="block-3 h-25 border border-white">
    <div class="h-25 font-weight-bold d-flex justify-content-center align-items-center">
      Unidades Verticais
    </div>
    <div class="h-75 d-flex justify-content-center align-items-center px-5">
      <input type="text" class="form-control amplitude-input" id="unidVertical" value="dBm">
    </div>
  </div>
  <div class="block-4 h-25 border border-white">
    <div class="h-25 font-weight-bold d-flex justify-content-center align-items-center">
      Nível Automático
    </div>
    <div class="h-75 d-flex justify-content-center align-items-center px-5">
      <input type="text" class="form-control amplitude-input" id="levelAuto" value="Auto">
    </div>
  </div>
</div>
