<div class="menu font-weight-bold border border-white d-flex justify-content-center align-items-center bandwidth">
  Largura de Banda
</div>
<div class="blocks">
  <div class="block-1 h-25 border border-white">
    <div class="h-25 font-weight-bold d-flex justify-content-center align-items-center">
      Modo RBW
    </div>
    <div class="h-25 d-flex justify-content-center align-items-center px-5">
      <input type="text" class="form-control bandwidth-input" id="modeAuto" value="Automático">
    </div>
    <div class="h-50 d-flex justify-content-center align-items-center px-5">
      <input type="text" class="form-control bandwidth-input" id="modeManual" value="Manual">
    </div>
  </div>
  <div class="block-2 h-25 border border-white">
    <div class="h-25 font-weight-bold d-flex justify-content-center align-items-center">
      RBW
    </div>
    <div class="h-75 d-flex justify-content-center align-items-center px-5">
      <select class="form-control bandwidth-input" id="rbw">
        <option value="1">1 Mz</option>
      </select>
      <!-- <input type="text" class="form-control bandwidth-input" id="rbw" value="1 MHz"> -->
    </div>
  </div>
  <div class="block-3 h-25 border border-white">
    <div class="h-25 font-weight-bold d-flex justify-content-center align-items-center">
      Faixa RBW
    </div>
    <div class="h-75 d-flex justify-content-center align-items-center px-5">
      <input type="text" class="form-control bandwidth-input" id="bandwidthRbw" value="1000:1">
    </div>
  </div>
  <div class="block-4 h-25 border border-white">
    <div class="h-25 font-weight-bold d-flex justify-content-center align-items-center">
      Janela
    </div>
    <div class="h-75 d-flex justify-content-center align-items-center px-5">
      <input type="text" class="form-control bandwidth-input" id="window" value="Kaiser">
    </div>
  </div>
</div>
