<div class="menu font-weight-bold border border-white d-flex justify-content-center align-items-center freqspan">
  Faixa & Frequência
</div>
<div class="blocks">
  <div class="block-1 h-25 border border-white">
    <div class="h-25 font-weight-bold d-flex justify-content-center align-items-center">
      Frequência Central
    </div>
    <div class="h-75 d-flex justify-content-center align-items-center px-5">
      <div class="input-group mb-3">
        <input type="text" class="form-control freqspan-input" id="fcentral" number>
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">MHz</span>
        </div>
      </div>
      <!-- <input type="text" class="form-control freqspan-input" id="fcentral" value="98 MHz"> -->
    </div>
  </div>
  <div class="block-2 h-25 border border-white">
    <div class="h-25 font-weight-bold d-flex justify-content-center align-items-center">
      Faixa
    </div>
    <div class="h-75 d-flex justify-content-center align-items-center px-5">
      <div class="input-group mb-3">
        <input type="text" class="form-control freqspan-input" id="bandwidth" number>
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">MHz</span>
        </div>
      </div>
      <!-- <input type="text" class="form-control freqspan-input" id="bandwidth" value="2 MHz"> -->
    </div>
  </div>
  <div class="block-3 h-25 border border-white">
    <div class="h-25 font-weight-bold d-flex justify-content-center align-items-center">
      Freq. Inicial
    </div>
    <div class="h-75 d-flex justify-content-center align-items-center px-5">
      <div class="input-group mb-3">
        <input type="text" class="form-control freqspan-input"  id="finitial" number>
        <div class="input-group-append">
          <span class="input-group-text">MHz</span>
        </div>
      </div>
      <!-- <input type="text" class="form-control freqspan-input" id="finitial" value="88 MHz"> -->
    </div>
  </div>
  <div class="block-4 h-25 border border-white">
    <div class="h-25 font-weight-bold d-flex justify-content-center align-items-center">
      Freq. Final
    </div>
    <div class="h-75 d-flex justify-content-center align-items-center px-5">
      <div class="input-group mb-3">
        <input type="text" class="form-control freqspan-input" id="ffinal" number>
        <div class="input-group-append">
          <span class="input-group-text">MHz</span>
        </div>
      </div>
      <!-- <input type="text" class="form-control freqspan-input" id="ffinal" value="108"> -->
    </div>
  </div>
</div>
