<div class="rf col-6">
  <div class="rf-content h-100">
    <div class="ref col-6">

      <span class="badge badge-pill badge-orange">RF</span>
      <span class="text-orange">Ref:</span>
      <span class="text-orange">0.00</span>
      <span class="text-orange">dBm</span>

    </div>
    <div class="scale col-6 text-orange">
      <span class="">Escala:</span>
      <span class="">1.0</span>
      <span class="">dB/div</span>
    </div>
  </div>
</div>
<div class="cf col-3 h-100 text-orange">
  <div class="cf-content h-100 col">
    <div>
      <span>CF:</span>
      <span>98 MHz</span>
    </div>
  </div>
</div>
<div class="rbw col-3 h-100 text-orange">
  <div class="rbw-content h-100 col">
    <div class="up">
      <span>Faixa:</span>
      <span>20 MHz</span>
    </div>
    <div class="down">
      <span>RBW:</span>
      <span>1 MHz</span>
    </div>
  </div>
</div>
