<div class="h-75 mw-100 buttons-top">
    <div class="button-individual">
        <button type="button" class="btn btn-success" id="freqspan">Freq./Span</button>
    </div>
    <div class="button-individual">
        <button type="button" class="btn btn-warning" id="amplitude">Ampl</button>
    </div>
    <div class="button-individual">
        <button type="button" class="btn btn-danger" id="bandwidth">BW</button>
    </div>
    <div class="button-individual">
        <button type="button" class="btn btn-primary" id="markers">Markers</button>
    </div>

</div>
<div class="h-25 mw-100 buttons-down">
    <div class="form-group">
        <label for="port">Porta</label>
        <select class="form-control" id="port">
            <option value="/dev/ttyACM0">/dev/ttyACM0</option>
            <option value="COM1">COM1</option>
        </select>
    </div>
    <div class="">
        <button type="button" id="btnOnOff" class="btn btn-outline-success btn-md btn-block" data-toggle="button" aria-pressed="false"
            autocomplete="off">
            LIGAR
        </button>
    </div>
</div>